
= form_for @employee_project_communication do |f|
  - if @employee_project_communication.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee_project_communication.errors.count, "error")} prohibited this employee_project_communication from being saved:"
      %ul
        - @employee_project_communication.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :project
    = f.text_field :project
  .field
    = f.label :employee
    = f.text_field :employee
  .actions
    = f.submit 'Save'
