= form_for @employee do |f|
  - if @employee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employee.errors.count, "error")} prohibited this employee from being saved:"
      %ul
        - @employee.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :patronymic
    = f.text_field :patronymic
  .field
    = f.label :passport
    = f.text_field :passport
  .field
    = f.label :itn
    = f.text_field :itn
  .field
    = f.label :date_of_birth
    = f.date_select :date_of_birth
  .field
    = f.label :post
    = f.text_field :post
  .field
    = f.label :department_id
    = f.select :department_id, options_for_select(Department.all.map{|x|[x.name, x.id]}), include_blank: true
  .actions
    = f.submit nil, class: 'btn btn-primary'
