= form_for @employee do |f|
  = error_messages_for @employee

  .panel.panel-info
    .panel-heading
      = t('activerecord.models.employee')

    .panel-body
      .row
        .col-md-4.field
          = f.label :first_name
          = f.text_field :first_name, class: 'form-control'
        = f.error_messages_for(:first_name)
        .col-md-4.field
          = f.label :last_name
          = f.text_field :last_name, class: 'form-control'
        = f.error_messages_for(:last_name)
        .col-md-4.field
          = f.label :patronymic
          = f.text_field :patronymic, class: 'form-control'
        = f.error_messages_for(:patronymic)
      .row
        .col-md-4.field
          = f.label :passport
          = f.text_field :passport, class: 'form-control'
        = f.error_messages_for(:passport)
        .col-md-4.field
          = f.label :itn
          = f.text_field :itn, class: 'form-control'
        = f.error_messages_for(:itn)
        .col-md-4.field
          = f.label :post
          = f.text_field :post, class: 'form-control'
        = f.error_messages_for(:post)
      = f.label :date_of_birth
      .input-group.date.datepicker.field
        = f.text_field(:date_of_birth, value: lnil(f.object.date_of_birth),
        class: 'form-control')
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
      = f.error_messages_for(:date_of_birth)

  .panel.panel-info
    .panel-heading
      = t('activerecord.attributes.employee.department')
    .panel-body
      .row
        .col-md-12
          = f.collection_select :department_id, Department.all, :id, :name,
          {include_blank: true}, {id: 'select_existing_department', class: 'form-control'}
          = f.fields_for :department,
          f.object.department || f.object.build_department do |department|
            = render 'department_fields', f: department

  .panel.panel-info.forms-body-select#projects
    .panel-heading
      = t('activerecord.attributes.employee.projects')
    .panel-body
      = link_to_add_association f, :employee_project_communications,
      class: 'btn btn-success',
      data:{ association_insertion_node: '.forms-body-select',
      association_insertion_method: :after  } do
        = fa_icon :plus
        = t('buttons.add_project')
      = f.fields_for :employee_project_communications do |employee_project|
        = render 'employee_project_communication_fields', f: employee_project

  .actions
    = f.submit nil, class: 'btn btn-primary'
