=breadcrumb_tag do
  %li.active
    = t('breadcrumb.app')
  %li
    = t('breadcrumb.employees')

.page-header
  %h1=t('headers.employees.index')

= link_to t('buttons.new.employee'), new_employee_path, class: 'btn btn-primary'

#entries-wrapper
  - @employees.each do |employee|
    .entry
      %dl.horizontal
        %dt= Employee.human_attribute_name(:first_name)
        %dd= employee.first_name
        %dt= Employee.human_attribute_name(:last_name)
        %dd= employee.last_name
        %dt= Employee.human_attribute_name(:patronymic)
        %dd= employee.patronymic
        %dt= Employee.human_attribute_name(:passport)
        %dd= employee.passport
        %dt= Employee.human_attribute_name(:itn)
        %dd= employee.itn
        %dt= Employee.human_attribute_name(:date_of_birth)
        %dd= employee.date_of_birth
        %dt= Employee.human_attribute_name(:post)
        %dd= employee.post
        %dt= Employee.human_attribute_name(:department)
        %dd= employee.department.name
        %dt= Employee.human_attribute_name(:projects)
        %dd
        .my-list
          - employee.projects.each do |project|
            = project.name + ";"
          - if employee.projects.empty?
            = t("helpers.empty")

        %ul.entry-links
          %li
            = link_to employee, class: 'btn btn-success' do
              = fa_icon :eye
          %li
            = link_to edit_employee_path(employee), class: 'btn btn-info' do
              = fa_icon :edit
          %li
            = link_to employee, method: :delete,
            data: { confirm: t('buttons.confirm.employee') },
            class: 'btn btn-danger' do
              = fa_icon :times
