=breadcrumb_tag do
  %li.active
    = t('breadcrumb.app')
  %li.active
    = link_to t('breadcrumb.employees'), employees_path
  %li
    = t('breadcrumb.new')

.page-header
  %h1= t('headers.employees.new')

= render 'form'
